body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* p{
  width: 136px;
} */
.btn {
  margin-bottom: 16px;
  height: 40px;
  border-radius: 15%;
  background-color: #fff;
  border: 2px solid rebeccapurple;
}
.btnsign {
  width: 80px;
  color: #fff;
  background-color: rebeccapurple;
  border: 2px solid #000;
}
.signup {
  font-weight: bolder;
  color: rebeccapurple;
  font-size: 22px;
}
::placeholder {
  color: #000;
  opacity: 0.5;
  font-weight: bolder;
}
.useName,
.iconLog,
.logo {
  color: #fff;
}
.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: rebeccapurple;
}
.bookLight {
  position: relative;
  top: 53px;
  color: #fff;
  left: -20x;
}
.left {
  right: -60px;
}
.iconLog {
  display: flex;
  margin-top: 20px;
  margin-left: 50%;
  gap: 20px;
}
.iconChart {
  position: relative;
}
.account {
  margin: auto;
  width: 10%;
  position: relative;
  top: 120px;
}
.logIn {
  margin-top: 17px;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}
.toSignUp {
  width: 200px;
  font-weight: bold;
  color: red;
}
.totalPrice {
  margin: 50px;
  position: relative;
  left: 77%;
  border: 2px solid rebeccapurple;
  padding: 8px;
  font-weight: bolder;
  border-radius: 12%;
  top: 60px;
}
.imgFinal {
  width: 130px;
  border: 2px solid rebeccapurple;
}
.final {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  gap: 15px;
}
.paymentText {
  border-bottom: 2px solid rebeccapurple;
  margin-bottom: 4px;
  padding: 11px;
}
.totalPill {
  position: relative;
  left: 158px;
  top: -3px;
}
.accept {
  position: relative;
  left: 284px;
  bottom: -51px;
  width: 80px;
  color: #fff;
  background-color: rebeccapurple;
  border: 2px solid #000;
  height: 30px;
  border-radius: 15%;
  font-weight: bolder;
}
.divBookContant {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  width: 77%;
  margin: auto;
  padding-top: 70px;
  gap: 20px;
}
.cheakOutbtn {
  position: relative;
  top: 93px;
  left: 53%;
  width: 77px;
  color: #fff;
  background-color: rebeccapurple;
  border: 2px solid #000;
  border-radius: 15%;
  height: 39px;
}
.notMatch {
  width: 262px;
  color: red;
  font-weight: bolder;
}
.divChart {
  border: 2px solid rebeccapurple;
  margin: auto;
  width: 50%;
  margin-top: 38px;
}
.divServ {
  width: 38%;
  position: relative;
  top: 115px;
  left: 390px;
}
@media only screen and (max-width: 600px) {
  .divBookContant {
    width: 55vh;
    grid-template-columns: 200px 200px;
  }
  .account {
    width: 41%;
  }
  .iconLog {
    margin-left: 0%;
  }
  .iconChart {
    left: 136px;
    top: 49px;
}
  }
  .divChart {
    display: grid;
    width: 100%;
    border: none;
    margin-left: -4px;
    /* gap: -24px; */
    grid-template-rows: 100px 100px 100px;
    gap: 107px;
  }
  .divChart span {
    top: -170px;
    width: 90px;
    left: 17%;
  }
  .divChart button {
    top: -315px;
    left: 28%;
  }
  .divChart p {
    margin-left: -187px;
  }
  .divChart h5 {
    width: 50px;
    margin-left: -61px;
  }
  .divChart i {
    margin-left: -346px;
  }
  .navBar {
    width: 100%;
    height: 92px;
    font-size: 13px;
  }
  .navBar .bookLight {
    top: 65px;
    right: 0;
  }
  .navBar .left {
    left: 0;
  }
  .navBar .logo {
    position: relative;
    left: -11px;
  }
  .final .totalPill {
    left: 100px;
    width: 130px;
  }
  .final .accept {
    left: 121px;
    bottom: -84px;
  }
  .final input {
    width: 126px;
  }
  .divServ img {
    width: 300px;
    position: relative;
    left: -345px;
  }
}
@media only screen and (width: 768px) {
  .divBookContant {
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
  }
  .left{
    right: -37px;
  }
}
@media only screen and (width: 1024px) {
  .divBookContant {
    grid-template-columns: 200px 200px 200px;
     gap: 116px;
  }
  .navBar {
    width: 96%;
  }
  .left{
    right: -37px;
  }
  .account{
      right: -37px;
      }
}
@media only screen and (width: 375px) {
  .divBookContant {
    width: 103%;
    grid-template-columns: 185px 193px;
  }

  .navBar {
    width: 100%;
  }
  /* .left{
    right: -40px;
  } */
  .account{
      right: -37px;
      }
      /* .bookLight{
        right: -265px;
      } */
}

@media only screen and (min-width: 768px) {
  /* .divBookContant {
    /* grid-template-columns: 200px 200px 200px; */
    /* gap: 10px; */
  } */
  .iconLog {
    margin-left: 40%;
  }
  .iconChart {
    left: 188px;
  }
  .divChart {
    border: none;
  }
  .divChart span {
    left: 66%;
    top: 5px;
  }
  .divChart button {
    top: 55px;
    left: 32%;
  }


